<div class="container">
<%= simple_form_for(@transaction) do |f| %>
    <h1>Add new transaction</h1>
    <div class="question">
        <p>I want to invest</p>
        <%= f.input :fiat_value, label: false %>
        <%= f.input :fiat_currency, as: :select, label: false, collection: ["BRL", "USD"], default: "BRL" %>
        <p>in...</p>
        <%= f.input :crypto_currency, label: false, as: :radio_buttons, collection: ["BTC", "ETH", "LTC"] %>
    </div>
    <button type="submit" class="button">Add transaction</button>
    <a href="<%= url_for root_path %>" class="button button--flat">Back</a>
<% end %>
</div>